@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

/*  menu header */

.content-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.content-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.content-header header .logo a {
  font-family: 'Righteous';
  font-size: 36px;
  color: #793cfd;
  text-decoration: none;
}

.content-header header ul {
  display: flex;
  list-style: none;
}

.content-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}

.content-header header nav ul li a:hover {
  color: #793cfd;
}

.nav-responsive {
  background-color: #793cfd;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* inicio */

.start{
  background: linear-gradient(to top, rgba(30, 35, 38, .8),rgba(30, 35, 38, 1)), url(img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.start .banner-content{
  padding:20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.start .banner-content img{
    margin-top: 40px;
    border: 10px solid #793cfd;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.start .banner-content h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Righteous';
}

.start .banner-content h2 {
  font-size: 15px;
  font-weight: normal;
}

.start .banner-content .networks a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}

.start .banner-content .networks a:hover {
  background-color: #793cfd;
}

.aboutme{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
  height: 95vh; 
}

.aboutme .section-content {
  max-width: 1100px;
  margin: auto;
}

.aboutme h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;

}

.aboutme .section-content p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.aboutme .section-content p span {
  color: #793cfd;
  font-weight: bold;
}

.aboutme .row {
  display: flex;
}

.aboutme .row .column {
  width: 50%;
}

.aboutme .row .column h3 {
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}

.aboutme .row .column ul {
  list-style: none;
}

.aboutme .row .column ul li {
  margin: 12px 0;
}

.aboutme .row .column ul li strong {
  display: inline-block;
  color: #793cfd;
  width: 130px;
}

.aboutme .row .column ul li span {
  background-color: #793cfd;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.aboutme .row .column .interests-content {
  display: flex;
  flex-wrap: wrap;
}

.aboutme .row .column .interests-content .interests {
  width: 140px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.aboutme .row .column .interests-content .interests:hover {
  background-color: #793cfd;
}

.aboutme .row .column .interests-content .interests i {
  font-size: 30px;
  margin-bottom: 10px;
}

.aboutme a{
  text-decoration: none;
}

.aboutme button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.aboutme button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #793cfd;
  z-index: -1;
  transition: 1s;
  text-decoration: none;
  outline: none;
}

.aboutme button:hover .overlay {
  width: 100%;
  align-items: center;
}

.skills{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
  height: 95vh;
}

.skills .section-content{
  max-width: 1100px;
  margin: auto;
}

.skills h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}

.skills .row{
  display: flex;
}

.skills .row .column{
  width: 50%;
  padding: 0 20px;
}
.skills .row .column h3 {
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}

.skills .skill>span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skills .row .column .content-skills{
  display: flex;
  flex-wrap: wrap;
}

.skills .row .column .content-skills .skill{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.skills .row .column .content-skills .skill:hover{
  background-color: #793cfd;
}

.skills .row .column .content-skills .skill i{
  font-size: 30px;
  margin-bottom: 10px;
}

.skills .skill .skill-bar {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}

.skills .skill .skill-bar span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1CB698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript
.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

.skills .skill .htmlcss {
  width: 0%;
  animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
  0% {
    width: 0%;
  }

  100% {
    width: 89%;
  }
}

.skills .skill .photoshop {
  width: 0%;
  animation: 2s photoshop forwards;
}

@keyframes photoshop {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

.skills .skill .wordpress {
  width: 0%;
  animation: 2s wordpress forwards;
}

@keyframes wordpress {
  0% {
    width: 0%;
  }

  100% {
    width: 81%;
  }
}

.skills .skill .drupal {
  width: 0%;
  animation: 2s drupal forwards;
}

@keyframes drupal {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
} */